.register1 {
  position: relative;
}
.frame-b1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 38px;
}
.frame-f,
.user-name {
  position: relative;
}
.frame-f {
  height: 87px;
  width: 790px;
  background-color: var(--color-gainsboro-200);
  max-width: 100%;
}
.frame-a,
.frame-d {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.frame-d {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-a {
  width: 1182px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 77px 0;
  text-align: left;
  font-size: var(--font-size-28xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.mail-id1 {
  position: relative;
}
.frame-h {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
}
.frame-j {
  height: 87px;
  width: 790px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  max-width: 100%;
}
.frame-g {
  width: 1127px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-28xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-m,
.password1 {
  position: relative;
}
.frame-m {
  height: 87px;
  width: 790px;
  background-color: var(--color-gainsboro-200);
  max-width: 100%;
}
.frame-k {
  width: 1182px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-28xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.confirm-password,
.frame-p {
  position: relative;
  max-width: 100%;
}
.confirm-password {
  display: inline-block;
}
.frame-p {
  height: 87px;
  flex: 1;
  background-color: var(--color-gainsboro-200);
  min-width: 513px;
}
.frame-n {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
  gap: 0 54px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-28xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-q-child {
  height: 80px;
  width: 210px;
  position: relative;
  background-color: var(--color-mediumseagreen-100);
  display: none;
}
.register2 {
  height: 57px;
  width: 122px;
  position: relative;
  font-size: var(--font-size-10xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.desktop-4,
.frame-q {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}
.frame-q {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xl) 0 0;
  background-color: var(--color-mediumseagreen-100);
  width: 210px;
  flex-direction: row;
  justify-content: center;
}
.frame-q:hover {
  background-color: #29c270;
}
.desktop-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-17xl) 148px 87px var(--padding-9xl);
  gap: 78px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .frame-d {
    flex-wrap: wrap;
  }
  .frame-a {
    gap: 77px 0;
  }
  .frame-g,
  .frame-k {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .register1,
  .user-name {
    font-size: var(--font-size-19xl);
  }
  .frame-a {
    gap: 77px 0;
  }
  .confirm-password,
  .mail-id1,
  .password1 {
    font-size: var(--font-size-19xl);
  }
  .frame-p {
    min-width: 100%;
  }
  .frame-n {
    gap: 0 54px;
  }
  .desktop-4 {
    gap: 78px 0;
    padding-right: 74px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .confirm-password,
  .mail-id1,
  .password1,
  .register1,
  .user-name {
    font-size: var(--font-size-9xl);
  }
  .register2 {
    font-size: var(--font-size-4xl);
  }
  .desktop-4 {
    gap: 78px 0;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
