.desktop-8-child,
.frame-main-child {
  height: 79px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.desktop-8-child {
  align-self: stretch;
}
.frame-main-child {
  width: 1440px;
  max-width: 100%;
}
.home3 {
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.home-text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  font-size: var(--font-size-13xl);
}
.exhibition3 {
  position: relative;
  z-index: 2;
}
.contact-text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) 0 0;
}
.vr-artists3 {
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.frame-artists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-16xl) 0 0;
  font-size: var(--font-size-12xl);
}
.vr-artworks3 {
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.frame-artists1 {
  width: 226px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-12xl);
}
.contact3 {
  align-self: stretch;
  height: 18px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.search-frame {
  width: 156px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mid);
  box-sizing: border-box;
}
.about3 {
  position: relative;
  font-size: var(--font-size-10xl);
  z-index: 2;
}
.frame-main {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-54xl) var(--padding-xl)
    var(--padding-62xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
}
.vr-artworks4 {
  position: relative;
  font-weight: 800;
}
.search-our-database1 {
  width: 1336px;
  height: 108px;
  position: relative;
  font-size: var(--font-size-11xl);
  display: inline-block;
  font-weight: 200;
}
.frame-not-for-sale-parent-child {
  height: 62px;
  width: 971px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.search-by-title {
  position: relative;
  font-weight: 100;
  z-index: 1;
}
.image-34-icon {
  height: 45px;
  width: 48px;
  position: relative;
  border-radius: var(--br-31xl);
  object-fit: cover;
  z-index: 1;
}
.frame-not-for-sale-parent {
  width: 971px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-200);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-11xl) var(--padding-4xs) 147px;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.frame-l,
.frame-not-for-sale-parent,
.secondary-frame {
  display: flex;
  max-width: 100%;
}
.secondary-frame {
  width: 1046px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.frame-l {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 36px 0;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.image-38-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-38-icon,
.vincent-van-gogh {
  position: relative;
}
.unsold-frame-child {
  height: 43px;
  width: 260px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.not-for-sale {
  position: relative;
  font-weight: 200;
  z-index: 1;
}
.unsold-frame,
.v-r-artwork-preview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.unsold-frame {
  background-color: var(--color-gainsboro-200);
  flex-direction: row;
  padding: var(--padding-3xs) 71px var(--padding-4xs) var(--padding-29xl);
  white-space: nowrap;
  text-align: center;
  font-size: var(--font-size-xl);
}
.v-r-artwork-preview {
  height: 478px;
  width: 349px;
  flex-direction: column;
  gap: 27px 0;
  min-width: 349px;
  max-width: 100%;
}
.image-39-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-39-icon,
.vincent-van-gogh1 {
  position: relative;
}
.artist-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 0 0;
}
.unsold-frame-item {
  height: 43px;
  width: 260px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.not-for-sale1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.unsold-frame1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-41xl) var(--padding-4xs) 59px;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.unsold-frame1:hover,
.unsold-frame2:hover {
  background-color: var(--color-silver);
}
.image-39-parent,
.not-for-sale-frame {
  display: flex;
  justify-content: flex-start;
}
.not-for-sale-frame {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-smi) 0 0;
}
.image-39-parent {
  height: 478px;
  width: 349px;
  flex-direction: column;
  align-items: center;
  gap: 27px 0;
  max-width: 100%;
}
.image-40-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.djordje-stanojevic,
.image-40-icon {
  position: relative;
}
.unsold-frame-inner {
  height: 43px;
  width: 260px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.on-request {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 200;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.unsold-frame2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 67px var(--padding-4xs) 66px;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.image-40-parent {
  height: 478px;
  width: 349px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 27px 0;
  max-width: 100%;
}
.frame-p1,
.not-for-sale-label {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.not-for-sale-label {
  justify-content: space-between;
  min-width: 510px;
  gap: var(--gap-xl);
}
.frame-p1 {
  justify-content: flex-start;
  gap: 0 144px;
}
.desktop-8,
.frame-k1,
.frame-o {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-o {
  width: 1304px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-smi);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-8,
.frame-k1 {
  flex-direction: column;
}
.frame-k1 {
  align-items: flex-end;
  padding: 0 var(--padding-xl);
  gap: 76px 0;
  max-width: 100%;
}
.desktop-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: 0 0 63px;
  gap: 47px 0;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .v-r-artwork-preview {
    flex: 1;
  }
  .frame-p1 {
    flex-wrap: wrap;
    gap: 0 144px;
  }
}
@media screen and (max-width: 1050px) {
  .vr-artworks4 {
    font-size: var(--font-size-7xl);
  }
  .search-our-database1 {
    font-size: var(--font-size-5xl);
  }
  .frame-not-for-sale-parent {
    padding-left: var(--padding-54xl);
    box-sizing: border-box;
  }
  .not-for-sale-label {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-main {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .frame-not-for-sale-parent {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-17xl);
    box-sizing: border-box;
  }
  .frame-l {
    gap: 36px 0;
  }
  .not-for-sale-label {
    min-width: 100%;
  }
  .frame-p1 {
    gap: 0 144px;
  }
  .frame-k1 {
    gap: 76px 0;
  }
  .desktop-8 {
    gap: 47px 0;
  }
}
@media screen and (max-width: 450px) {
  .vr-artworks4 {
    font-size: var(--font-size-lgi);
  }
  .search-our-database1 {
    font-size: var(--font-size-lg);
  }
  .search-by-title,
  .vincent-van-gogh {
    font-size: var(--font-size-lgi);
  }
  .unsold-frame {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .v-r-artwork-preview {
    min-width: 100%;
  }
  .vincent-van-gogh1 {
    font-size: var(--font-size-lgi);
  }
  .unsold-frame1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .djordje-stanojevic {
    font-size: var(--font-size-lgi);
  }
  .unsold-frame2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-p1 {
    gap: 0 144px;
  }
  .frame-k1 {
    gap: 76px 0;
  }
}
